nltk==3.9.1
rake-nltk==1.0.6
fastapi==0.112.2
uvicorn==0.30.6
firebase-admin==6.5.0
pandas==2.2.2
scikit-learn==1.5.1
transformers==4.44.2
sentence-transformers==3.0.1
torch==2.4.0
pydantic==2.8.2
tokenizers==0.11.4
